<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            <% avatar = gravatar_url(@user, 128) %>
            <% if avatar %>
                <div class="media-left">
                    <%= image_tag avatar, class: 'media-object gravatar' %>
                </div>
            <% end %>
            <div class="media-body">
                <h2 class="media-heading"><%= @user.name %></h2>
                <small>
                    <%= pluralize(@user.posts.count, 'post') %>,
                    <%= pluralize(@user.comments.count, 'comment') %>,
                    <%= pluralize(@user.favorites.count, 'favorited post') %>
                </small>
            </div>
        </div>
    </div>
</div>

<h3><%= user_posts(@user) %></h3>
<%= render @user.posts %>

<h3><%= user_comments(@user) %></h3>
<%= render @user.comments %>

<h3>Favorited Posts</h3>
<%= render partial: 'favorites/favorite_post', collection: @user.favorites, as: :favorite %>
